.mainBtn {
    position: relative;
    justify-items: center;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .mainBtn:hover {
    background-color: lightgreen;
  }
  
  .mainBtn:active {
    background-color: blue;
  }

  .closeBtn:active {
    background-color: red;
  }

  .displayModal {
    font-size: 2rem;
}

.dropdown {
  /* margin-top: 100px; */
    font-size: 2rem;
}

.dayOfWeek {
    text-align: center;
    width: 100%;
    font-size: 5rem;
}
.recipe {
    margin-top: 4rem;
    text-align: center;
}

.modalBtn {
    font-size: 2rem;
}
.recipe-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.recipe-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-modal button {
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .recipe-modal {
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe-modal form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .recipe-modal button {
    margin: 0;
  }
  .mover{
    margin-top: 7px;
  }
  .dropdown {
    margin-top: 100px;
      font-size: 2rem;
  }
  
}





