.recipeSearch-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
  }
  
  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  input[type='text'] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px 5px;
  }
  
  button[type='submit'] {
    margin-top: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 5px 5px;
    cursor: pointer;
  }
  
  .random {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
  }
  
  .recipe {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .recipe img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .recipe h2 {
    font-size: 3rem;
        margin-bottom: 2rem;}

    
    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      
      @media only screen and (max-width: 768px) {
        input[type='text'] {
          width: 60%;
          font-size: small;
        }
        button[type='submit'] {
          width: 40%;
          font-size: small;
        }
      }
      
      @media only screen and (max-width: 480px) {
        input[type='text'] {
          width: 50%;
          font-size: smaller;
        }
        button[type='submit'] {
          width: 50%;
          font-size: smaller;
        }
      }
      