.calendar-container {
    margin-left: 150px;
}
@media (max-width: 768px) {
    .footerComponent {
        visibility: hidden;
    }
  }
  @media (max-width: 992px) {
    .footerComponent {
      visibility: hidden;
    }
  }
  @media (min-width: 1200px) {
    .footerComponent {
        visibility: visible;
    }
  }
