@import '../../assets/fonts/fonts.css';
.my-top-nav {
    background-color: #fff;
  }
  
  .my-toggler {
    border: none;
  }
  
  .my-collapse {
    justify-content: flex-end;
  }
  
  .my-nav-links {
    display: flex;
    align-items: center;
   
  }
  
  .my-nav-link {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 20px;
    color: #000000;
    transition: color 0.3s ease-in-out;
     text-decoration: none;
  }
  
  .my-nav-link:hover {
    color: #000000;
    font-family: 'Raleway', sans-serif;
  }
  
  .my-dropdown {
    border: none;
  }

.remove {
  border:none;
}
