.calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .meal-container {
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
  }
  
  @media screen and (max-width: 576px) {
    .day-container {
      margin-bottom: 20px;
    }
    .meal-container {
      width: 100%;
    }
  }
  .recipe-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }
  