@import '../../assets/fonts/fonts.css';

.nav-bar {
    background-image: url('../../assets/images/png/Food-picture.png');
    background-repeat: repeat-y;
    width: 200px;
    height:100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    font-family: 'Raleway', sans-serif;

    .logo {
        display: block;
        padding: 8px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 50px;
            height: auto;
        }
    }
}

nav {
    display:block;
    text-align: center;
    position: absolute;
    height: 210px;
    top:50%;
    margin-top: -120px;
    width:100%;

    a {
        font-size: 22px;
        color:#ffffff;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        i {
            transition: all 0.3s ease-out;
        }

        &:hover {
            color:#95B380;

            svg {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        &:after {
            content: '';
            font-size: 9px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-out;
        }

        &:first-child {
            &::after {
                content: 'HOME';
                color: black;
            }
        }
    }

    a.about-link {
        &:after {
            content: 'ABOUT';
            color:black;
        }
    }

    a.profile-link {
        &:after {
            content: 'PROFILE';
            color: black;
        }
    }

    a.recipes-link {
        &:after {
            content: 'RECIPES';
            color: black;
        }
    }

    a.myPlans-Cart-link {
        &:after {
            content: 'MY PLAN';
            color: black;
        }
    }

    a.active {
        svg {
            color: black;
            font-family: 'Roboto Slab', serif;
        }
    }
}
