body{
    background-color: #a69f8f;
    position:relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.botnav {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}